<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta de CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Digite o CEP</ion-label>
    <ion-input [(ngModel)]="cep" type="text" maxlength="8" pattern="[0-9]{5}-[0-9]{3}" class="custom-input"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="buscarEndereco()">Buscar Endereço</ion-button>

  <ion-card *ngIf="endereco">
    <ion-card-header>
      <ion-card-title>Endereço</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>CEP: {{ endereco?.cep }}</p>
      <p>Logradouro: {{ endereco?.logradouro }}</p>
      <p>Bairro: {{ endereco?.bairro }}</p>
      <p>Cidade: {{ endereco?.localidade }}</p>
      <p>Estado: {{ endereco?.uf }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
